include icon.pug

div.imageTile
  a.imageTile__image(href=`/image/${ imageId }`)
    img(src=`data:image/png;base64, ${ content }`)
  div.imageTile__info
    div.imageTile__author
      +icon('imageTile__author--icon', author.icon, 36)
      div.imageTile__author--text
        p.imageTile__author--name= author.username
        p.imageTile__author--timestamp= createdAt
    div.imageTile__action
      button.imageTile__action--button.imageTile__action--like(onclick=`sendLike(this, ${ imageId })`)
        div.imageTile__action--icon.imageTile__like--icon
        p.imageTile__action--label.imageTile__like--label= likedUsers.length
      button.imageTile__action--button.imageTile__action--share
        div.imageTile__action--icon.imageTile__share--icon
        p.imageTile__action--label.imageTile__share--label 分享
