link(rel="stylesheet" type="text/css" href="/css/common/image-tile.css")

mixin imageTile({imageId, content, likes, comments = 0, views})
  a.imageTile(href=`/image/${ imageId }`)
    img.imageTile__image(src=`data:image/png;base64, ${ content }`)
    div.imageTile__info
      div.imageTile__info--container
        div.imageTile__info--data.imageTile__info--likes
          img(src="/img/common/image-tile/like.svg" width="16" height="16")
          span= likes
        div.imageTile__info--data.imageTile__info--comments
          img(src="/img/common/image-tile/comment.svg" width="16" height="16")
          span= comments
        div.imageTile__info--data.imageTile__info--views
          img(src="/img/common/image-tile/share.svg" width="16" height="16")
          span= views
