div.tagCard
  a.tagCard__link(href=`/tag/${ tagId }`)
  if thumbnail
    img.tagCard__image(src=`data:image/png;base64, ${ thumbnail }`)
  else
    div.tagCard__placeholder
  div.tagCard__info
    p.tagCard__info--tagName= tag
    span.tagCard__info--newPostCount= `本日增加${ posts }則貼文`
    span.tagCard__info--followerCount(id=`tag__followers--${ tagId }`)= `${ followers.length }人追蹤`
    button.button--hollow.tagCard__follow--button(onclick=`followTag(event, this, ${ tagId })`) 追蹤
