link(rel="stylesheet" type="text/css" href="/css/common/tag-card.css")

mixin tagCard(tag)
  a.tagCard(href=`/tag/${ tag.tagId }`)
    if tag.images[0]
      img.tagCard__image(src=`data:image/png;base64, ${ tag.images[0].content }`)
    else
      div.tagCard__placeholder
    div.tagCard__info
      p.tagCard__info--tagName= tag.tag
      span.tagCard__info--newPostCount= `本日增加${ tag.newPostCount || 0 }則貼文`
      span.tagCard__info--followerCount= `${ tag.followerCount || 0 }人追蹤`