include icon.pug

div.userCard
  a.userCard__link(href=`/profile/${ userId }`)
  +icon('userCard__icon', icon, 56)
  div.userCard__info
    p.userCard__info--username= username
    span.userCard__info--followerCount(id=`user__followers--${ userId }`)= `${ followers.length }人追蹤`
  button.button--hollow.userCard__follow--button(onclick=`followUser(event, this, ${ userId })`) 追蹤
