extends layouts/base.pug

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/image.css")
  link(rel="stylesheet" type="text/css" href="/css/common/tag-chips.css")
  link(rel="stylesheet" type="text/css" href="/css/common/button.css")

block header
  include components/header.pug

block main
  include components/image-info.pug
  include components/sidebar.pug
  include components/icon.pug
  include components/tag-chips.pug
  article.main__container
    +sidebar
    section.main__post
      button.post__back
      div.post__picture
        img.post__picture--content(src=`data:image/png;base64, ${ image.content }`)
        img.post__picture--info(src="/img/image/info.svg")
      div.post__information
        div.information__author
          a.information__author--link(href=`/profile/${ image.author.userId }`)
            +icon("information__author--icon", image.author.icon, 45)
          div.information__author--data
            p.author__data--name= image.author.username
            p.author__data--follower(id=`user__followers--${ image.author.userId }`)= `${ image.author.followers.length }人追蹤`
          - const following = activeUser && image.author.followers.map(user => user.userId).includes(activeUser.id);
          button(class=`information__author--follow ${ following ? 'button--solid' : 'button--hollow' }` onclick=`followUser(event, this, ${ image.author.userId })`)= (following ? '已追蹤': '追蹤')
        p.information__description= image.description
        +tags(image.tags)
        p.information__timestamp= `發佈時間: ${ image.createdAt }`
        div.information__actions
          - const liked = activeUser && image.likedUsers.map(user => user.userId).includes(activeUser.id);
          button(class=`information__action information__action--like${ liked ? ' image__liked' : '' }` onclick=`sendLike(this, ${ image.imageId })`)
            div.action__like--img
            span.action__like--count= image.likedUsers.length
          button.information__action.information__action--share
            div.action__share--img
            span.action__share--label 分享
        form.information__comment
          a(href=`/profile/${ image.author.userId }`)
            +icon("information__comment--icon", image.author.icon, 35)
          input#comment__input.information__comment--input(type="text" placeholder="寫下你的留言" maxlength="210")
          button#comment__submit.button--solid(type="submit") 留言
        div.information__messages
  +imageInfo
    //- div.main__similar
    //-   h2.main__similar--title 更多相似
    //-   div.main__similar--list
block scripts
  script(src="/bundle/image.bundle.js")
  script(src="/js/components/like-image.js")
  script(src="/js/components/follow-user.js")
