extends layouts/base.pug

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/index.css")

block header
  include components/header.pug

block main
  include components/tag-card.pug
  include components/user-card.pug
  mixin post(image)
    div.post
      a.post__image(href=`/image/${ image.imageId }`)
        img(src=`data:image/png;base64, ${ image.content }`)
      div.post__info
        div.post__author
          +icon('post__author--icon', image.author.icon, 36)
          div.post__author--text
            p.post__author--name= image.author.username
            p.post__author--timestamp= image.createdAt
        div.post__action
          button.post__action--button.post__action--like
            div.post__action--icon.post__like--icon
            p.post__action--label.post__like--label= image.likes
          button.post__action--button.post__action--share
            div.post__action--icon.post__share--icon
            p.post__action--label.post__share--label 分享

  article.main__container
    section.main__timeline
      div.timeline__category
        input.timeline__category--input#category__all(type="radio" name="category" value="all" checked)
        label.timeline__category--label(for="category__all") 全部
        input.timeline__category--input#category__meme(type="radio" name="category" value="meme")
        label.timeline__category--label(for="category__meme") 迷因
        input.timeline__category--input#category__elderly(type="radio" name="category" value="elderly")
        label.timeline__category--label(for="category__elderly") 長輩圖
      div.timeline__posts
        each image in images
          +post(image)
    section.main__follow
      if activeUser
        div.main__follow--overview.main__follow--users
          p.main__follow--title 你關注中的創作者
          div.main__follow--cards
            +userCard({userId:1, username: '創作者', followerCount: 30, icon: null })
            +userCard({userId:2, username: '創作者', followerCount: 30, icon: null })
            +userCard({userId:3, username: '創作者', followerCount: 30, icon: null })
            +userCard({userId:4, username: '創作者', followerCount: 30, icon: null })
          a.main__follow--more(href=`/profile/${ activeUser.id }#following`) 顯示更多
        div.main__follow--overview.main__follow--tags
          p.main__follow--title 你關注中的標籤
          div.main__follow--cards
            +tagCard({tagId:1, tag: 'COVID-19', newPostCount:19, followerCount: 300, image: {content: ''},})
            +tagCard({tagId:2, tag: '親子教育', newPostCount:12, followerCount: 592, image: {content: ''},})
          a.main__follow--more(href=`/profile/${ activeUser.id }#topics`) 顯示更多
      else
        div.main__follow--overview.main__follow--users
          p.main__follow--title 熱門創作者
          div.main__follow--cards
            +userCard({userId:1, username: '創作者', followerCount: 30, icon: null })
            +userCard({userId:2, username: '創作者', followerCount: 30, icon: null })
            +userCard({userId:3, username: '創作者', followerCount: 30, icon: null })
            +userCard({userId:4, username: '創作者', followerCount: 30, icon: null })
          a.main__follow--more(href='/recommend') 顯示更多
        div.main__follow--overview.main__follow--tags
          p.main__follow--title 熱門標籤
          div.main__follow--cards
            +tagCard({tagId:1, tag: 'COVID-19', newPostCount:19, followerCount: 300, image: {content: ''},})
            +tagCard({tagId:2, tag: '親子教育', newPostCount:12, followerCount: 592, image: {content: ''},})
          a.main__follow--more(href=`/recommend`) 顯示更多

block scripts
  script(src="/js/index.js")