extends layouts/base.pug

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/tag.css")
  link(rel="stylesheet" type="text/css" href="/css/common/button.css")

block header
  include components/header.pug

block main
  include components/sidebar.pug
  include components/image-wall.pug
  article.main__container
    +sidebar
    section.main__tag
      section.main__banner
        if tag.thumbnail
          img.main__banner--image(src=`data:image/png;base64, ${ tag.thumbnail }`)
        else
          div.main__banner--image
        div.main__banner--info
          div.banner__info
            p.banner__info--title= tag.tag
            span.banner__info--newPostCount= `本日新增${ tag.posts || 0 }則新貼文`
          div(id=`tag__followers--${ tag.tagId }` style="display: none;")= tag.followers.length
          - const following = activeUser && tag.followers.map(user => user.userId).includes(activeUser.id);
          button(class=`banner__follow ${ following ? 'button--solid' : 'button--hollow' }` onclick=`followTag(event, this, ${ tag.tagId })`)= (following ? '已追蹤': '追蹤')
      section.main__imageWall
        +imageWall('')

block scripts
  script(src="/bundle/tag.bundle.js")
  script(src="/js/components/follow-tag.js")
