doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(property="og:locale" content="zh_TW")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:title" content= `${ title } - Co meme`)
    meta(property="og:description" content="連結迷因文化與長輩圖文化，跨世代的社交網路媒體")
    meta(property="og:image" content=`${ host }/img/logo-big.png`)
    meta(property="og:image:alt" content="Co meme - 連結迷因文化與長輩圖文化，跨世代的社交網路媒體")
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:width" content="1024")
    meta(property="og:image:height" content="1024")
    meta(property="fb:app_id" content="684988175228092")
    title= title + " - Co meme"
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="/css/mobile/reset.css")
    link(rel="stylesheet" type="text/css" href="/css/common/button.css")
    block stylesheets
  body
    include ../components/share.pug
    include ../components/unauthorized.pug
    +share
    +unauthorized
    header.header
      a.header__logo(href="/")
        img(src="/img/common/logo.svg" width="105" height="25")
    main.main
      div.main__filler
      block main
      nav.nav
        if activeUser
          a.nav__link.nav__link--home(href="/")
            div.nav__link--icon.nav__link--homeIcon
            span.nav__link--label 首頁
          a.nav__link.nav__link--recommend(href="/recommend")
            div.nav__link--icon.nav__link--recommendIcon
            span.nav__link--label 為你推薦
          a.nav__upload(href="/upload") +
          a.nav__link.nav__link--latest(href="/latest")
            div.nav__link--icon.nav__link--latestIcon
            span.nav__link--label 最新內容
          a.nav__link.nav__link--profile(href=`/profile/${ activeUser.id }`)
            div.nav__link--icon.nav__link--profileIcon
            span.nav__link--label 個人資料
            span#activeUser__id(style="display: none;")= activeUser.id
        else
          a.button--hollow(href="/signup") 加入我們
          a.button--solid(href="/signin") 會員登入
      script(src="/bundle/mobile/navigation.bundle.js")
      block scripts
