extends base.pug

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/mobile/profile.css")
  link(rel="stylesheet" type="text/css" href="/css/common/post.css")
  link(rel="stylesheet" type="text/css" href="/css/common/user-card.css")
  link(rel="stylesheet" type="text/css" href="/css/common/tag-card.css")

block main
  include ../components/icon.pug
  section.main__profile
    div.main__profile--banner
      div.profile__banner--header
        +icon("profile__header--icon", user.icon, 120)
        span.profile__header--name= user.username
        span.profile__header--followerCount(id=`user__followers--${ user.userId }`)= `${ user.followers.length }人追蹤`
        - const following = activeUser && user.followers.map(user => user.userId).includes(activeUser.id);
        if !activeUser || activeUser.id !== user.userId
          button(class=`profile__header--subscribe ${ following ? 'button--solid' : 'button--hollow' }` onclick=`followUser(event, this, ${ user.userId })`)= (following ? '已追蹤': '追蹤')
      div.profile__banner--navi
        input.profile__navi--input#tab__posts(type="radio" name="tab" value="posts")
        label.profile__navi--tab.profile__navi--posts(for="tab__posts") 貼文
        input.profile__navi--input#tab__tags(type="radio" name="tab" value="tags")
        label.profile__navi--tab.profile__navi--tags(for="tab__tags") 關注主題
        input.profile__navi--input#tab__users(type="radio" name="tab" value="users")
        label.profile__navi--tab.profile__navi--users(for="tab__users") 關注創作者
        input.profile__navi--input#tab__tagCloud(type="radio" name="tab" value="tagCloud")
        label.profile__navi--tab.profile__navi--tagCloud(for="tab__tagCloud") 標籤雲
    div.main__profile--panels
      section.main__profile--panel.main__profile--posts
        section.main__imageWall
      section.main__profile--panel.main__profile--tags
      section.main__profile--panel.main__profile--users
      section.main__profile--panel.main__profile--tagCloud
        p 標籤雲功能正在製作中，敬請期待！

block scripts
  script(src="/bundle/mobile/profile.bundle.js")
  script(src="/js/components/like-image.js")
  script(src="/js/components/follow-tag.js")
  script(src="/js/components/follow-user.js")
